# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet. Special
thanks to: https://github.com/justmarkham for sharing the dataset and
materials.

### Step 1. Import the necessary libraries

In [46]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url,sep='\t')

### Step 4. See the first 10 entries

In [52]:
import pandas as pd
url ='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
df = pd.read_csv(url,sep='\t')
df.head(10)

### Step 5. What is the number of observations in the dataset?

In [53]:
# Solution 1
row_count = len(df)
print(row_count)

4622

In [8]:
# Solution 2
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [15]:
number_of_columns = len(df.columns)
print(number_of_columns)

5

### Step 7. Print the name of all the columns.

In [16]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [17]:
df.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [34]:
data_sorted = df.groupby(["item_name"]).sum().sort_values(["quantity"],ascending=False)
max_value = data_sorted.head(1)
print(max_value)

              order_id  quantity  \
item_name
Chicken Bowl    713926       761

                                             choice_description  \
item_name
Chicken Bowl  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...

                                                     item_price
item_name
Chicken Bowl  $16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...

### Step 10. For the most-ordered item, how many items were ordered?

In [35]:
data_sorted = df.groupby(["item_name"]).sum().sort_values(["quantity"],ascending=False)
max_value = data_sorted.head(1)
print(max_value)

              order_id  quantity  \
item_name
Chicken Bowl    713926       761

                                             choice_description  \
item_name
Chicken Bowl  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...

                                                     item_price
item_name
Chicken Bowl  $16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...

### Step 11. What was the most ordered item in the choice_description column?

In [37]:
data_sorted = df.groupby(["choice_description"]).sum().sort_values(["quantity"],ascending=False)
max_value = data_sorted.head(1)
print(max_value)

                    order_id  quantity  \
choice_description
[Diet Coke]           123455       159

                                                            item_name  \
choice_description
[Diet Coke]         Canned SodaCanned SodaCanned Soda6 Pack Soft D...

                                                           item_price
choice_description
[Diet Coke]         $2.18 $1.09 $1.09 $6.49 $2.18 $1.25 $1.09 $6.4...

### Step 12. How many items were orderd in total?

In [39]:
total_sum_a = df['quantity'].sum()
print(total_sum_a)

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [40]:
type_a = df['item_price'].dtype
print(type_a)

object

#### Step 13.b. Create a lambda function and change the type of item price

In [47]:
df['item_price'] = df['item_price'].apply(lambda x:x.replace('$','')).astype(np.float64);
# dollarizer = lambda x:float(x[1:-1])
# chipo.item_price = chipo.item_price.apply(dollarizer)

#### Step 13.c. Check the item price type

In [48]:
df['item_price'].dtypes

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [49]:
(df['quantity']*df['item_price']).sum()

39237.02

### Step 15. How many orders were made in the period?

In [50]:
# Solution 1
 
g = df.groupby(['order_id'])
g.ngroups

1834

### Step 16. What is the average revenue amount per order?

In [57]:
# Solution 1
 
df['revenue'] = df['quantity']*df['item_price']
order_grouped = df.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

In [58]:
# Solution 2
 
df.groupby(by=['order_id']).sum().mean()['revenue']

### Step 17. How many different items are sold?

In [59]:
df.item_name.value_counts().count()

50